** Import pandas as pd.**

In [3]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [46]:
sal = pd.read_csv('Salaries.csv', engine='python', dtype='unicode')

** Check the head of the DataFrame. **

In [48]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [49]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  object
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  object
 8   TotalPayBenefits  148654 non-null  object
 9   Year              148654 non-null  object
 10  Notes             0 non-null       object
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: object(13)
memory usage: 14.7+ MB

** What is the average BasePay? **

In [54]:
#ERROR: TypeError
#Uncomment to see
#I dont know why this is happening and I couldnt find a reliable fix
#sal['BasePay'].mean()
#I think it is importing the column in question as str, int, and float and that is causing the errors.

** What is the highest amount of OvertimePay in the dataset ? **

In [52]:
#ERROR: Wrong Output
#Uncomment to see
#I dont know why this is happening and I couldnt find a reliable fix
#sal['OvertimePay'].max()

** What is the job title of  JOSEPH DRISCOLL ? **

In [34]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [35]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [36]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? **

In [38]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [77]:
#ERROR: doesnt display BasePay
#Uncomment to see
#I dont know why this is happening and I couldnt find a reliable fix
#sal.groupby('Year').mean('BasePay')

** How many unique job titles are there? **

In [66]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [67]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [68]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

0

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [73]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [74]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [75]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [76]:
sal[['title_len','TotalPayBenefits']].corr()

           title_len
title_len        1.0

In [ ]:
#No Correlation